<div class="container">
    <div class="row justify-content-center">
        <h4><span class="badge badge-success">{{finalMessage}}</span></h4>
    </div>
    <h2>Java Questions</h2>
    <p>Choose your answers carefully as you only get one chance to submit your quiz!!</p>
    <form class="form-group">
        <div *ngFor="let each of quizInfo">

            <table class="table table-borderless">
                <tr>
                    <h4>{{each.question}}</h4>
                </tr>
                <tr>
                    <input class ="form-check-input" [disabled]="!flag" id="{{'choice1' + each.id}}" name="{{'group'+each.id}}" type="radio" (change)="checkAnswer($event, each.id)"
                        value="{{each.choices[0].isAnswer}}" />
                    <label class="form-check-label">{{each.choices[0].name}}</label>
                </tr>
                <tr>
                    <input class ="form-check-input" [disabled]="!flag"  id="{{'choice2' + each.id}}" name="{{'group'+each.id}}" type="radio" (change)="checkAnswer($event, each.id)"
                        value="{{each.choices[1].isAnswer}}" />
                    <label class="form-check-label">{{each.choices[1].name}}</label>
                </tr>
                <tr>
                    <input class ="form-check-input" [disabled]="!flag"  id="{{'choice3' + each.id}}" name="{{'group'+each.id}}" type="radio" (change)="checkAnswer($event, each.id)"
                        value="{{each.choices[2].isAnswer}}" />
                    <label class="form-check-label">{{each.choices[2].name}}</label>
                </tr>
                <tr>
                    <input class ="form-check-input" [disabled]="!flag"  id="{{'choice4' + each.id}}" name="{{'group'+each.id}}" type="radio" (change)="checkAnswer($event, each.id)"
                        value="{{each.choices[3].isAnswer}}" />
                    <label class="form-check-label">{{each.choices[3].name}}</label>
                </tr>
            </table>
        </div>
        <div class="row justify-content-center">
            <button class="btn btn-outline-dark" type="submit" value="submit" (click)="numberOfCorrect()">Submit Quiz</button>
        </div>

    </form>
    <div class="row justify-content-center">
        <h4><span class="badge badge-success">{{finalMessage}}</span></h4>
    </div>

</div>